@model _403_Project_1.Models.Mission

@{
    ViewBag.Title = "MissionChosen";
}
<h2>Mission Details</h2>

@using (Html.BeginForm("MissionChosen", "Missions", FormMethod.Get))
{
    <fieldset>
        Select a mission: 
        <!--Leave as "Missions" plural-->
        @Html.DropDownList("Missions")
        <p>
            <input type="submit" value="Submit" />
        </p>
</fieldset>
} 